<div class="register__container">
    <div class="register__form--container">
      <h2 class="register__title">Register</h2>
      <form class="register__form">
        <div class="register__form--input">
          <label class="register__form--label" for="password">Password:</label>
          <input type="password" id="password">
        </div>
  
        <div class="register__form--input">
          <label class="register__form--label" for="confirmPassword">Confirm Password:</label>
          <input type="password" id="confirmPassword">
        </div>
  
        <div class="register__form--input">
          <label class="register__form--label" for="email">Email:</label>
          <input type="email" id="email">
        </div>
  
        <div class="register__form--input">
          <label class="register__form--label" for="firstName">First Name:</label>
          <input type="text" id="firstName">
        </div>
  
        <div class="register__form--input">
          <label class="register__form--label" for="lastName">Last Name:</label>
          <input type="text" id="lastName">
        </div>
  
        <div class="register__form--input">
          <label class="register__form--label" for="phone">Phone:</label>
          <input type="tel" id="phone">
        </div>
  
        <div class="register__form--input">
          <label class="register__form--label" for="rol">Rol:</label>
          <input type="text" id="rol">
        </div>
  
        <button type="submit" class="register__button">Register</button>
      </form>
    </div>
  </div>
